<div class="container">
  <div class="filters">
    <h4 class="title">Sizes:</h4>
    <div class="filters-available-size" *ngFor="let size of sizes; let i = index">
      <label>
        <input type="checkbox"  (change)="onSelect(size, i, $event.target.checked)">
        <span class="checkmark">{{ size.name }}</span>
      </label>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="h3">Shopping cart</h3>
  <div class="row" *ngIf="!productLoadding">
    <div class="col-md-3 col-sm-6" *ngFor="let product of products">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="assets/public/images/{{ product.img[0] }}">
            <img class="pic-2" src="assets/public/images/{{ product.img[1] }}">
          </a>
          <ul class="social">
            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">New</span>
          <span class="product-discount-label">{{ product.isFreeShipping ? "Ship" : "No" }}</span>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">{{ product.title }}</a></h3>
          <div class="price">
            {{ [product.currencyFormat, product.price].join('') }}
          </div>
          <div class="price">
            {{ product.availableSizes.join(' - ') }}
          </div>
          <a class="add-to-cart" href="">ADD TO CART</a>
        </div>
      </div>
    </div>
  </div>
</div>
