<div class="container-load" [ngClass]="{'d-none': loadSuccess}">
  <div class="loader"></div>
</div>
<div class="main" [ngClass]="{'d-none': !loadSuccess}">
  <div class="container">
    <div class="row mt-5 d-flex justify-content-between">
      <div class="col-4 filters">
        <div class="filters-available-size" *ngFor="let size of sizes; let i = index">
          <label>
            <input type="checkbox"  (change)="onSelect(i, $event.target.checked)">
            <span class="checkmark">{{ size.name }}</span>
          </label>
        </div>
      </div>
      <div class="col-3 input-group float-right">
        <select name="order_by" class="custom-select" (change)="selectOption($event.target.value)">
          <option [value]="item.id" *ngFor="let item of items">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="loadSuccess">
    <h3 class="h3">Shopping cart </h3><small class="font-weight-bold">({{ products.length }} products)</small>
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let product of products">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="assets/public/images/{{ product.img[0] }}">
              <img class="pic-2" src="assets/public/images/{{ product.img[1] }}">
            </a>
            <ul class="social">
              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
              <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <span class="product-new-label">{{ product.id }}</span>
            <span *ngIf="product.isFreeShipping" class="product-discount-label">{{ "FREE" }}</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">{{ product.title }}</a></h3>
            <div class="price">
              {{ [product.currencyFormat, product.price].join('') }}
            </div>
            <div class="price">
              {{ product.availableSizes.join(' - ') }}
            </div>
            <button class="add-to-cart" (click)="addToCart(product)">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="float-cart float-cart--open" *ngIf="showCart" [ngClass]="{'d-none': !showCart}">
  <div class="float-cart__close-btn">X</div>
  <div class="float-cart__content">
    <div class="float-cart__header"><span class="bag"><span class="bag__quantity">{{ countProducts() }}</span></span><span class="header-title">Cart</span></div>
    <div class="float-cart__shelf-container">
      <div class="shelf-item" *ngFor="let cart of carts">
        <div class="shelf-item__del" (click)="removeCart(cart)">
          <i class="fa fa-trash-o"></i>
        </div>
        <div class="shelf-item__thumb"><img src="assets/public/images/{{ cart.product.img[1] }}" alt="Dark Thug Blue-Navy T-Shirt"></div>
        <div class="shelf-item__details">
          <p class="title">{{ cart.product.title }}</p>
          <p class="desc">{{ cart.product.style }}<br>Quantity: {{ cart.count }}</p>
        </div>
        <div class="shelf-item__price">
          <p>{{ [cart.product.currencyFormat, cart.product.price].join('') }}</p>
          <div><button class="change-product-button">-</button><button class="change-product-button">+</button></div>
        </div>
      </div>
    </div>
    <div class="float-cart__footer">
      <div class="sub">SUBTOTAL</div>
      <div class="sub-price">
        <p class="sub-price__val">$ {{ totalPrice() | number }}</p>
        <small class="sub-price__installment"><span>OR UP TO 9 x $ {{ totalPrice()/9 | number }}</span></small>
      </div>
      <div class="buy-btn">Checkout</div>
    </div>
  </div>
</div>
